<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empxml">
	<select id="list" parameterType="string" resultType="part02_search_xml.EmpDTO">
		select first_name, email, hire_date, salary
		from employees
		where lower(first_name) like '%' || lower(#{first_name}) || '%'
	</select>
</mapper>