<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mentor">
	<select id="list" resultType="com.mycompany.sms.dto.MentorDTO">
		select * from sms_mentor
		order by mentor_num desc
	</select>
	
	<select id="list2" parameterType="com.mycompany.sms.dto.MentorFieldDTO" resultType="com.mycompany.sms.dto.MentorDTO">
		select * from sms_mentor
		where mentor_num in(
		<foreach collection="list" item="element" separator=",">
			#{element.mentor_num}
		</foreach>
		)
		order by mentor_num desc
	</select>

	<select id="view" parameterType="int"
		resultType="com.mycompany.sms.dto.MentorDTO">
		select *
		from sms_mentor
		where mentor_num=#{mentor_num}
	</select>

	<select id="fieldlist" parameterType="int"
		resultType="com.mycompany.sms.dto.FieldDTO">
		select f.field_name
		from sms_mentor_field m, sms_field f
		where m.mentor_num=#{num} and m.field_num=f.field_num
		order by f.field_num
	</select>

	<select id="fieldcheck" parameterType="int" resultType="com.mycompany.sms.dto.MentorFieldDTO">
		select mentor_num
		from sms_mentor_field
		where field_num=#{field_num}
		order by mentor_num desc
	</select>
	
</mapper>