/* 페이지 관련  시작*/
.pagelist a {
	text-decoration: none;
	color: black;
}

.pagelist a:hover, .pagelist .pagecolor {
	text-decoration: underline;
	color: red;
}
/* 페이지 관련  끝*/

.wrap {
	
	width: 1026px;
	margin: auto;
}

.wrap .e_list {
	border-radius: 13px;
	border: 1px solid olive;
	width: 300px;
	height: 430px;
	border: 1px solid red;
	float: left;
	display: inline-block;
	margin: 20px;
}

.wrap .e_list .inf{
	height: 30px;
	display: flex;
}
.wrap .e_list .e_num{
	height: 60px;
}
.wrap .e_list .e_num img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.wrap .e_list .comp{
	display: flex;
	flex-direction: column;
}
.wrap .e_list .comp .co{
	height: 50%;
}
.wrap .e_list .date{
	width: 80px;
}
.wrap .e_list .content{
	height: 370px;
	display: flex;
	flex-direction: column;
}	
.wrap .e_list .content .con_t{
	height: 100px;
}

.wrap .e_list .content .con_c{
	height: 270px;
}
.wrap .e_list .com{
	height: 30px;
	display: flex;
	justify-content: flex-start;
}